@charset "UTF-8";

@font-face {
    font-family: 'F1';
    src: url(../fonts/Formula1-Wide.otf);
}

@font-face {
    font-family: 'F1R';
    src: url(../fonts/Formula1-Regular.otf);
}

@font-face {
    font-family: 'F1B';
    src:url(../fonts/Formula1-Bold.otf);
}

@media screen and (max-width:600px){
    *{margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        transition-timing-function: ease;
        
    }

    ::-webkit-scrollbar{
        display: none;
    }

    header{display: flex;
        background-color: white;
        height: 15vh;
        font-family: 'F1', Arial, Helvetica, sans-serif;
    }

    div.item1{width: 15%;
        background-color: white;

    }

    div.item1 > img{
        width: 22vw;
        height: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        padding-left: 10px;
    }

    div.pesq{
        width: 85%;
    }

    div.pesq > input{height: 30px;
            width: 85%;
            position: relative;
            top: 50%;
            border: 1px solid #EE2A26;
            border-radius: 0px 20px 0px 0px;
            background-color: rgba(128, 128, 128, 0.432);
            margin-left: 12px ;
            top: 50%;
            left: 50%;
            transform: translate(-55%, -40%);
        
    }

    div.pesq > input:hover{
        border: 2px solid #EE2A26;
    }

    i#burger{
        color: white;
        background-color: #EE2A26;
        display: block;
        text-align: center;
        width: 100vw;
        border: none;
        height: 30px;
        font-size: 1.8em;
        box-shadow: 0px 1px 2px black;
    }

    i#burger:hover{
        cursor: pointer;
        color: black;
        background-color: #EE2A26;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.781);
    }

    div#burgeri{display: none;
        text-align: center;
        background-color: #dd2724;
        color: white;
        border: 2px solid gray;

    }

    ul{
        list-style: none;
    }

    div#burgeri > ul > li > a{
        display: block;
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px;
        font-family: 'F1', Arial, Helvetica, sans-serif;
        font-size: 0.8em;
    }

    div#burgeri > ul > li > a:hover{
        color: #EE2A26;
        background-color: white;
        border: 1px solid black;
    }

    main{background-image:url(../img/f1l.jpeg);
        height: 75vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        

    }

    div#f1m{background-color: rgba(128, 128, 128, 0);
        width: 200px;
        position: relative;
        top: 40%;
        left: 7%;
        text-align: center;

    }

    main > div#f1m > h1{font-family: 'F1R', Arial, Helvetica, sans-serif;
        color: #EE2A26;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.87);
        margin-bottom: 10px;

    }

    main > div#f1m > p{font-family: 'F1R', Arial, Helvetica, sans-serif;
        background-color: #EE2A26;
        padding: 20px 10px 20px 10px ;
        border-radius: 40px 8px 8px 30px;
        transition: 0.8s;
    }

    main > div#f1m > p:hover{border-radius: 8px 40px 30px 8px;
                            transition: 0.8s;
                            cursor: pointer;

    }

    main > div#f1m > p > a{color: white;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.747);

    }

    footer{display: flex;
        background-color: #1e1e24;
        height:5vh;
        justify-content: center;
        align-items: center;
    }

    footer > a{
        padding: 0px 15px 0px 0px;
    }


}