@charset "UTF-8";

@media  screen and (min-width:600px) and (max-width:770px) {

    header{
        border-bottom: 1px solid black;
    }

    div.it{
        display: block;
        font-size: 0.7em;
        width: 150px;

    }

    div.it > a{
        text-decoration: none;
        padding: 10px 5px 10px 10px;
        position: relative;
        top: 50%;
        color: #EE2A26;
        
    }

    div.it > a:hover{
        text-shadow: 1px 1px 1px black;
    }

    div.pesq{
        width: 90%;
    }

    div.pesq > input{height: 30px;
            width: 90%;
            top: 40%;
            left: 0%;
            transform: translate(0%, 0%);
        
    }

    i#burger{
        display: none;
    }

    main{
        height: 80vh;
    }

    footer > a{
        padding: 0px 30px 0px 0px;
    }
}

@media screen and (min-width:771px) and (max-width:992px) {
    header{
        height: 19vh;
        border-bottom: 1px solid black;
    }

    div.it{
        flex: auto;
        display: block;
        font-size: 0.8em;
        margin: 0px 15px 0px 16px;
    }

    div.it > a{
        text-decoration: none;
        position: relative;
        top: 50%;
        color: #EE2A26;
        
    }

    div.it > a:hover{
        text-shadow: 1px 1px 1px black;
    }

    i#burger{
        display: none;
    }

    footer{
        height: 6vh;
    }

    div.pesq{
        width: 90%;
        padding: 0px 20px 0px 0px;
    }

    div.pesq > input{height: 30px;
            width: 90%;
            top: 40%;
            left: 0%;
            transform: translate(0%, 0%);
        
    }
    
}

@media screen and (min-width:993px){
    header{
        height: 19vh;
        border-bottom: 1px solid black;
    }

    div.it{
        flex: auto;
        display: block;
        font-size: 0.8em;
        margin: 0px 30px 0px 30px;
    }

    div.it > a{
        text-decoration: none;
        position: relative;
        top: 50%;
        color: #EE2A26;
        
    }

    div.it > a:hover{
        text-shadow: 1px 1px 1px black;
    }

    div.pesq{
        width: 60%;
        padding-right: 20px;
    }

    div.pesq > input{height: 30px;
            max-width: 250px;
            min-width: 120px;
            top: 40%;
            left: 10%;
            transform: translate(0%, 0%);
            margin-left: 15px;
            margin-right: 10px;
        
    }

    i#burger{
        display: none;
    }

    main > div#f1m > h1{
        color: white;
        text-shadow: 1px 2px 5px black;
    }

    main > div#f1m > p{
        background-color: white;

    }

    main > div#f1m > p > a{color: #EE2A26;
        text-shadow: 0px 0px 2px black;
    }

    footer{
        height: 6vh;
    }

    
}